.about {
    grid-column: 3/10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    &__content {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 400;
        color: var(--color-neutral-800);
    }

    @media screen and (max-width: 841px) {
        grid-column: 2/-1;
        margin-right: 2rem;
    }

    @media screen and (max-width: 641px) {
        grid-template-columns: 1fr;
    }
}