.skills {

    grid-column: 3/10;
    display: flex;
    &__tags {
        background-color: var(--color-neutral-200);
        padding: .5rem;
        border-radius: 1rem;
        font-size: .8rem;
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}